<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="PublishedFilesGroup" Directory="INSTALLFOLDER">
      <Component Id="PublishedFile_1">
        <File Id="clretwrc_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/clretwrc.dll" />
      </Component>
      <Component Id="PublishedFile_2">
        <File Id="clrgc_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/clrgc.dll" />
      </Component>
      <Component Id="PublishedFile_3">
        <File Id="clrjit_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/clrjit.dll" />
      </Component>
      <Component Id="PublishedFile_4">
        <File Id="coreclr_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/coreclr.dll" />
      </Component>
      <Component Id="PublishedFile_5">
        <File Id="createdump_exe" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/createdump.exe" />
      </Component>
      <Component Id="PublishedFile_6">
        <File Id="hostfxr_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/hostfxr.dll" />
      </Component>
      <Component Id="PublishedFile_7">
        <File Id="hostpolicy_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/hostpolicy.dll" />
      </Component>
      <Component Id="PublishedFile_8">
        <File Id="Microsoft_CSharp_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/Microsoft.CSharp.dll" />
      </Component>
      <Component Id="PublishedFile_9">
        <File Id="Microsoft_DiaSymReader_Native_amd64_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/Microsoft.DiaSymReader.Native.amd64.dll" />
      </Component>
      <Component Id="PublishedFile_10">
        <File Id="Microsoft_VisualBasic_Core_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/Microsoft.VisualBasic.Core.dll" />
      </Component>
      <Component Id="PublishedFile_11">
        <File Id="Microsoft_VisualBasic_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/Microsoft.VisualBasic.dll" />
      </Component>
      <Component Id="PublishedFile_12">
        <File Id="Microsoft_Win32_Primitives_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/Microsoft.Win32.Primitives.dll" />
      </Component>
      <Component Id="PublishedFile_13">
        <File Id="Microsoft_Win32_Registry_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/Microsoft.Win32.Registry.dll" />
      </Component>
      <Component Id="PublishedFile_14">
        <File Id="mscordaccore_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/mscordaccore.dll" />
      </Component>
      <Component Id="PublishedFile_15">
        <File Id="mscordaccore_amd64_amd64_8_0_1925_36514_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/mscordaccore_amd64_amd64_8.0.1925.36514.dll" />
      </Component>
      <Component Id="PublishedFile_16">
        <File Id="mscordbi_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/mscordbi.dll" />
      </Component>
      <Component Id="PublishedFile_17">
        <File Id="mscorlib_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/mscorlib.dll" />
      </Component>
      <Component Id="PublishedFile_18">
        <File Id="mscorrc_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/mscorrc.dll" />
      </Component>
      <Component Id="PublishedFile_19">
        <File Id="msquic_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/msquic.dll" />
      </Component>
      <Component Id="PublishedFile_20">
        <File Id="MyCoolApp_deps_json" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/MyCoolApp.deps.json" />
      </Component>
      <Component Id="PublishedFile_21">
        <File Id="MyCoolApp_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/MyCoolApp.dll" />
      </Component>
      <Component Id="PublishedFile_22">
        <File Id="MyCoolApp_exe" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/MyCoolApp.exe" KeyPath="yes" />
      </Component>
      <Component Id="PublishedFile_23">
        <File Id="MyCoolApp_pdb" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/MyCoolApp.pdb" />
      </Component>
      <Component Id="PublishedFile_24">
        <File Id="MyCoolApp_runtimeconfig_json" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/MyCoolApp.runtimeconfig.json" />
      </Component>
      <Component Id="PublishedFile_25">
        <File Id="netstandard_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/netstandard.dll" />
      </Component>
      <Component Id="PublishedFile_26">
        <File Id="System_AppContext_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.AppContext.dll" />
      </Component>
      <Component Id="PublishedFile_27">
        <File Id="System_Buffers_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Buffers.dll" />
      </Component>
      <Component Id="PublishedFile_28">
        <File Id="System_Collections_Concurrent_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Collections.Concurrent.dll" />
      </Component>
      <Component Id="PublishedFile_29">
        <File Id="System_Collections_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Collections.dll" />
      </Component>
      <Component Id="PublishedFile_30">
        <File Id="System_Collections_Immutable_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Collections.Immutable.dll" />
      </Component>
      <Component Id="PublishedFile_31">
        <File Id="System_Collections_NonGeneric_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Collections.NonGeneric.dll" />
      </Component>
      <Component Id="PublishedFile_32">
        <File Id="System_Collections_Specialized_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Collections.Specialized.dll" />
      </Component>
      <Component Id="PublishedFile_33">
        <File Id="System_ComponentModel_Annotations_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ComponentModel.Annotations.dll" />
      </Component>
      <Component Id="PublishedFile_34">
        <File Id="System_ComponentModel_DataAnnotations_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ComponentModel.DataAnnotations.dll" />
      </Component>
      <Component Id="PublishedFile_35">
        <File Id="System_ComponentModel_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ComponentModel.dll" />
      </Component>
      <Component Id="PublishedFile_36">
        <File Id="System_ComponentModel_EventBasedAsync_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ComponentModel.EventBasedAsync.dll" />
      </Component>
      <Component Id="PublishedFile_37">
        <File Id="System_ComponentModel_Primitives_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ComponentModel.Primitives.dll" />
      </Component>
      <Component Id="PublishedFile_38">
        <File Id="System_ComponentModel_TypeConverter_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ComponentModel.TypeConverter.dll" />
      </Component>
      <Component Id="PublishedFile_39">
        <File Id="System_Configuration_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Configuration.dll" />
      </Component>
      <Component Id="PublishedFile_40">
        <File Id="System_Console_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Console.dll" />
      </Component>
      <Component Id="PublishedFile_41">
        <File Id="System_Core_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Core.dll" />
      </Component>
      <Component Id="PublishedFile_42">
        <File Id="System_Data_Common_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Data.Common.dll" />
      </Component>
      <Component Id="PublishedFile_43">
        <File Id="System_Data_DataSetExtensions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Data.DataSetExtensions.dll" />
      </Component>
      <Component Id="PublishedFile_44">
        <File Id="System_Data_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Data.dll" />
      </Component>
      <Component Id="PublishedFile_45">
        <File Id="System_Diagnostics_Contracts_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.Contracts.dll" />
      </Component>
      <Component Id="PublishedFile_46">
        <File Id="System_Diagnostics_Debug_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.Debug.dll" />
      </Component>
      <Component Id="PublishedFile_47">
        <File Id="System_Diagnostics_DiagnosticSource_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.DiagnosticSource.dll" />
      </Component>
      <Component Id="PublishedFile_48">
        <File Id="System_Diagnostics_FileVersionInfo_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.FileVersionInfo.dll" />
      </Component>
      <Component Id="PublishedFile_49">
        <File Id="System_Diagnostics_Process_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.Process.dll" />
      </Component>
      <Component Id="PublishedFile_50">
        <File Id="System_Diagnostics_StackTrace_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="PublishedFile_51">
        <File Id="System_Diagnostics_TextWriterTraceListener_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.TextWriterTraceListener.dll" />
      </Component>
      <Component Id="PublishedFile_52">
        <File Id="System_Diagnostics_Tools_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.Tools.dll" />
      </Component>
      <Component Id="PublishedFile_53">
        <File Id="System_Diagnostics_TraceSource_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.TraceSource.dll" />
      </Component>
      <Component Id="PublishedFile_54">
        <File Id="System_Diagnostics_Tracing_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="PublishedFile_55">
        <File Id="System_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.dll" />
      </Component>
      <Component Id="PublishedFile_56">
        <File Id="System_Drawing_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Drawing.dll" />
      </Component>
      <Component Id="PublishedFile_57">
        <File Id="System_Drawing_Primitives_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Drawing.Primitives.dll" />
      </Component>
      <Component Id="PublishedFile_58">
        <File Id="System_Dynamic_Runtime_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Dynamic.Runtime.dll" />
      </Component>
      <Component Id="PublishedFile_59">
        <File Id="System_Formats_Asn1_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Formats.Asn1.dll" />
      </Component>
      <Component Id="PublishedFile_60">
        <File Id="System_Formats_Tar_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Formats.Tar.dll" />
      </Component>
      <Component Id="PublishedFile_61">
        <File Id="System_Globalization_Calendars_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Globalization.Calendars.dll" />
      </Component>
      <Component Id="PublishedFile_62">
        <File Id="System_Globalization_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Globalization.dll" />
      </Component>
      <Component Id="PublishedFile_63">
        <File Id="System_Globalization_Extensions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Globalization.Extensions.dll" />
      </Component>
      <Component Id="PublishedFile_64">
        <File Id="System_IO_Compression_Brotli_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.Compression.Brotli.dll" />
      </Component>
      <Component Id="PublishedFile_65">
        <File Id="System_IO_Compression_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.Compression.dll" />
      </Component>
      <Component Id="PublishedFile_66">
        <File Id="System_IO_Compression_FileSystem_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.Compression.FileSystem.dll" />
      </Component>
      <Component Id="PublishedFile_67">
        <File Id="System_IO_Compression_Native_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.Compression.Native.dll" />
      </Component>
      <Component Id="PublishedFile_68">
        <File Id="System_IO_Compression_ZipFile_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.Compression.ZipFile.dll" />
      </Component>
      <Component Id="PublishedFile_69">
        <File Id="System_IO_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.dll" />
      </Component>
      <Component Id="PublishedFile_70">
        <File Id="System_IO_FileSystem_AccessControl_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.FileSystem.AccessControl.dll" />
      </Component>
      <Component Id="PublishedFile_71">
        <File Id="System_IO_FileSystem_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.FileSystem.dll" />
      </Component>
      <Component Id="PublishedFile_72">
        <File Id="System_IO_FileSystem_DriveInfo_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.FileSystem.DriveInfo.dll" />
      </Component>
      <Component Id="PublishedFile_73">
        <File Id="System_IO_FileSystem_Primitives_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.FileSystem.Primitives.dll" />
      </Component>
      <Component Id="PublishedFile_74">
        <File Id="System_IO_FileSystem_Watcher_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.FileSystem.Watcher.dll" />
      </Component>
      <Component Id="PublishedFile_75">
        <File Id="System_IO_IsolatedStorage_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.IsolatedStorage.dll" />
      </Component>
      <Component Id="PublishedFile_76">
        <File Id="System_IO_MemoryMappedFiles_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.MemoryMappedFiles.dll" />
      </Component>
      <Component Id="PublishedFile_77">
        <File Id="System_IO_Pipes_AccessControl_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.Pipes.AccessControl.dll" />
      </Component>
      <Component Id="PublishedFile_78">
        <File Id="System_IO_Pipes_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.Pipes.dll" />
      </Component>
      <Component Id="PublishedFile_79">
        <File Id="System_IO_UnmanagedMemoryStream_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.IO.UnmanagedMemoryStream.dll" />
      </Component>
      <Component Id="PublishedFile_80">
        <File Id="System_Linq_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Linq.dll" />
      </Component>
      <Component Id="PublishedFile_81">
        <File Id="System_Linq_Expressions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Linq.Expressions.dll" />
      </Component>
      <Component Id="PublishedFile_82">
        <File Id="System_Linq_Parallel_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Linq.Parallel.dll" />
      </Component>
      <Component Id="PublishedFile_83">
        <File Id="System_Linq_Queryable_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Linq.Queryable.dll" />
      </Component>
      <Component Id="PublishedFile_84">
        <File Id="System_Memory_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Memory.dll" />
      </Component>
      <Component Id="PublishedFile_85">
        <File Id="System_Net_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.dll" />
      </Component>
      <Component Id="PublishedFile_86">
        <File Id="System_Net_Http_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Http.dll" />
      </Component>
      <Component Id="PublishedFile_87">
        <File Id="System_Net_Http_Json_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Http.Json.dll" />
      </Component>
      <Component Id="PublishedFile_88">
        <File Id="System_Net_HttpListener_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.HttpListener.dll" />
      </Component>
      <Component Id="PublishedFile_89">
        <File Id="System_Net_Mail_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Mail.dll" />
      </Component>
      <Component Id="PublishedFile_90">
        <File Id="System_Net_NameResolution_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.NameResolution.dll" />
      </Component>
      <Component Id="PublishedFile_91">
        <File Id="System_Net_NetworkInformation_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.NetworkInformation.dll" />
      </Component>
      <Component Id="PublishedFile_92">
        <File Id="System_Net_Ping_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Ping.dll" />
      </Component>
      <Component Id="PublishedFile_93">
        <File Id="System_Net_Primitives_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Primitives.dll" />
      </Component>
      <Component Id="PublishedFile_94">
        <File Id="System_Net_Quic_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Quic.dll" />
      </Component>
      <Component Id="PublishedFile_95">
        <File Id="System_Net_Requests_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Requests.dll" />
      </Component>
      <Component Id="PublishedFile_96">
        <File Id="System_Net_Security_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Security.dll" />
      </Component>
      <Component Id="PublishedFile_97">
        <File Id="System_Net_ServicePoint_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.ServicePoint.dll" />
      </Component>
      <Component Id="PublishedFile_98">
        <File Id="System_Net_Sockets_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.Sockets.dll" />
      </Component>
      <Component Id="PublishedFile_99">
        <File Id="System_Net_WebClient_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.WebClient.dll" />
      </Component>
      <Component Id="PublishedFile_100">
        <File Id="System_Net_WebHeaderCollection_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.WebHeaderCollection.dll" />
      </Component>
      <Component Id="PublishedFile_101">
        <File Id="System_Net_WebProxy_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.WebProxy.dll" />
      </Component>
      <Component Id="PublishedFile_102">
        <File Id="System_Net_WebSockets_Client_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.WebSockets.Client.dll" />
      </Component>
      <Component Id="PublishedFile_103">
        <File Id="System_Net_WebSockets_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Net.WebSockets.dll" />
      </Component>
      <Component Id="PublishedFile_104">
        <File Id="System_Numerics_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Numerics.dll" />
      </Component>
      <Component Id="PublishedFile_105">
        <File Id="System_Numerics_Vectors_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Numerics.Vectors.dll" />
      </Component>
      <Component Id="PublishedFile_106">
        <File Id="System_ObjectModel_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ObjectModel.dll" />
      </Component>
      <Component Id="PublishedFile_107">
        <File Id="System_Private_CoreLib_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Private.CoreLib.dll" />
      </Component>
      <Component Id="PublishedFile_108">
        <File Id="System_Private_DataContractSerialization_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Private.DataContractSerialization.dll" />
      </Component>
      <Component Id="PublishedFile_109">
        <File Id="System_Private_Uri_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Private.Uri.dll" />
      </Component>
      <Component Id="PublishedFile_110">
        <File Id="System_Private_Xml_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Private.Xml.dll" />
      </Component>
      <Component Id="PublishedFile_111">
        <File Id="System_Private_Xml_Linq_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Private.Xml.Linq.dll" />
      </Component>
      <Component Id="PublishedFile_112">
        <File Id="System_Reflection_DispatchProxy_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.DispatchProxy.dll" />
      </Component>
      <Component Id="PublishedFile_113">
        <File Id="System_Reflection_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.dll" />
      </Component>
      <Component Id="PublishedFile_114">
        <File Id="System_Reflection_Emit_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.Emit.dll" />
      </Component>
      <Component Id="PublishedFile_115">
        <File Id="System_Reflection_Emit_ILGeneration_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.Emit.ILGeneration.dll" />
      </Component>
      <Component Id="PublishedFile_116">
        <File Id="System_Reflection_Emit_Lightweight_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.Emit.Lightweight.dll" />
      </Component>
      <Component Id="PublishedFile_117">
        <File Id="System_Reflection_Extensions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.Extensions.dll" />
      </Component>
      <Component Id="PublishedFile_118">
        <File Id="System_Reflection_Metadata_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.Metadata.dll" />
      </Component>
      <Component Id="PublishedFile_119">
        <File Id="System_Reflection_Primitives_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.Primitives.dll" />
      </Component>
      <Component Id="PublishedFile_120">
        <File Id="System_Reflection_TypeExtensions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Reflection.TypeExtensions.dll" />
      </Component>
      <Component Id="PublishedFile_121">
        <File Id="System_Resources_Reader_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Resources.Reader.dll" />
      </Component>
      <Component Id="PublishedFile_122">
        <File Id="System_Resources_ResourceManager_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Resources.ResourceManager.dll" />
      </Component>
      <Component Id="PublishedFile_123">
        <File Id="System_Resources_Writer_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Resources.Writer.dll" />
      </Component>
      <Component Id="PublishedFile_124">
        <File Id="System_Runtime_CompilerServices_Unsafe_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.CompilerServices.Unsafe.dll" />
      </Component>
      <Component Id="PublishedFile_125">
        <File Id="System_Runtime_CompilerServices_VisualC_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.CompilerServices.VisualC.dll" />
      </Component>
      <Component Id="PublishedFile_126">
        <File Id="System_Runtime_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.dll" />
      </Component>
      <Component Id="PublishedFile_127">
        <File Id="System_Runtime_Extensions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Extensions.dll" />
      </Component>
      <Component Id="PublishedFile_128">
        <File Id="System_Runtime_Handles_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Handles.dll" />
      </Component>
      <Component Id="PublishedFile_129">
        <File Id="System_Runtime_InteropServices_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.InteropServices.dll" />
      </Component>
      <Component Id="PublishedFile_130">
        <File Id="System_Runtime_InteropServices_JavaScript_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.InteropServices.JavaScript.dll" />
      </Component>
      <Component Id="PublishedFile_131">
        <File Id="System_Runtime_InteropServices_RuntimeInformation_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.InteropServices.RuntimeInformation.dll" />
      </Component>
      <Component Id="PublishedFile_132">
        <File Id="System_Runtime_Intrinsics_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Intrinsics.dll" />
      </Component>
      <Component Id="PublishedFile_133">
        <File Id="System_Runtime_Loader_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Loader.dll" />
      </Component>
      <Component Id="PublishedFile_134">
        <File Id="System_Runtime_Numerics_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Numerics.dll" />
      </Component>
      <Component Id="PublishedFile_135">
        <File Id="System_Runtime_Serialization_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Serialization.dll" />
      </Component>
      <Component Id="PublishedFile_136">
        <File Id="System_Runtime_Serialization_Formatters_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Serialization.Formatters.dll" />
      </Component>
      <Component Id="PublishedFile_137">
        <File Id="System_Runtime_Serialization_Json_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Serialization.Json.dll" />
      </Component>
      <Component Id="PublishedFile_138">
        <File Id="System_Runtime_Serialization_Primitives_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Serialization.Primitives.dll" />
      </Component>
      <Component Id="PublishedFile_139">
        <File Id="System_Runtime_Serialization_Xml_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Runtime.Serialization.Xml.dll" />
      </Component>
      <Component Id="PublishedFile_140">
        <File Id="System_Security_AccessControl_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.AccessControl.dll" />
      </Component>
      <Component Id="PublishedFile_141">
        <File Id="System_Security_Claims_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Claims.dll" />
      </Component>
      <Component Id="PublishedFile_142">
        <File Id="System_Security_Cryptography_Algorithms_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="PublishedFile_143">
        <File Id="System_Security_Cryptography_Cng_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Cryptography.Cng.dll" />
      </Component>
      <Component Id="PublishedFile_144">
        <File Id="System_Security_Cryptography_Csp_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Cryptography.Csp.dll" />
      </Component>
      <Component Id="PublishedFile_145">
        <File Id="System_Security_Cryptography_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Cryptography.dll" />
      </Component>
      <Component Id="PublishedFile_146">
        <File Id="System_Security_Cryptography_Encoding_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Cryptography.Encoding.dll" />
      </Component>
      <Component Id="PublishedFile_147">
        <File Id="System_Security_Cryptography_OpenSsl_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Cryptography.OpenSsl.dll" />
      </Component>
      <Component Id="PublishedFile_148">
        <File Id="System_Security_Cryptography_Primitives_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Cryptography.Primitives.dll" />
      </Component>
      <Component Id="PublishedFile_149">
        <File Id="System_Security_Cryptography_X509Certificates_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Cryptography.X509Certificates.dll" />
      </Component>
      <Component Id="PublishedFile_150">
        <File Id="System_Security_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.dll" />
      </Component>
      <Component Id="PublishedFile_151">
        <File Id="System_Security_Principal_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Principal.dll" />
      </Component>
      <Component Id="PublishedFile_152">
        <File Id="System_Security_Principal_Windows_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.Principal.Windows.dll" />
      </Component>
      <Component Id="PublishedFile_153">
        <File Id="System_Security_SecureString_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Security.SecureString.dll" />
      </Component>
      <Component Id="PublishedFile_154">
        <File Id="System_ServiceModel_Web_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ServiceModel.Web.dll" />
      </Component>
      <Component Id="PublishedFile_155">
        <File Id="System_ServiceProcess_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ServiceProcess.dll" />
      </Component>
      <Component Id="PublishedFile_156">
        <File Id="System_Text_Encoding_CodePages_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Text.Encoding.CodePages.dll" />
      </Component>
      <Component Id="PublishedFile_157">
        <File Id="System_Text_Encoding_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Text.Encoding.dll" />
      </Component>
      <Component Id="PublishedFile_158">
        <File Id="System_Text_Encoding_Extensions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Text.Encoding.Extensions.dll" />
      </Component>
      <Component Id="PublishedFile_159">
        <File Id="System_Text_Encodings_Web_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Text.Encodings.Web.dll" />
      </Component>
      <Component Id="PublishedFile_160">
        <File Id="System_Text_Json_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Text.Json.dll" />
      </Component>
      <Component Id="PublishedFile_161">
        <File Id="System_Text_RegularExpressions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Text.RegularExpressions.dll" />
      </Component>
      <Component Id="PublishedFile_162">
        <File Id="System_Threading_Channels_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.Channels.dll" />
      </Component>
      <Component Id="PublishedFile_163">
        <File Id="System_Threading_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.dll" />
      </Component>
      <Component Id="PublishedFile_164">
        <File Id="System_Threading_Overlapped_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="PublishedFile_165">
        <File Id="System_Threading_Tasks_Dataflow_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.Tasks.Dataflow.dll" />
      </Component>
      <Component Id="PublishedFile_166">
        <File Id="System_Threading_Tasks_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.Tasks.dll" />
      </Component>
      <Component Id="PublishedFile_167">
        <File Id="System_Threading_Tasks_Extensions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="PublishedFile_168">
        <File Id="System_Threading_Tasks_Parallel_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.Tasks.Parallel.dll" />
      </Component>
      <Component Id="PublishedFile_169">
        <File Id="System_Threading_Thread_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.Thread.dll" />
      </Component>
      <Component Id="PublishedFile_170">
        <File Id="System_Threading_ThreadPool_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.ThreadPool.dll" />
      </Component>
      <Component Id="PublishedFile_171">
        <File Id="System_Threading_Timer_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Threading.Timer.dll" />
      </Component>
      <Component Id="PublishedFile_172">
        <File Id="System_Transactions_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Transactions.dll" />
      </Component>
      <Component Id="PublishedFile_173">
        <File Id="System_Transactions_Local_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Transactions.Local.dll" />
      </Component>
      <Component Id="PublishedFile_174">
        <File Id="System_ValueTuple_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.ValueTuple.dll" />
      </Component>
      <Component Id="PublishedFile_175">
        <File Id="System_Web_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Web.dll" />
      </Component>
      <Component Id="PublishedFile_176">
        <File Id="System_Web_HttpUtility_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Web.HttpUtility.dll" />
      </Component>
      <Component Id="PublishedFile_177">
        <File Id="System_Windows_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Windows.dll" />
      </Component>
      <Component Id="PublishedFile_178">
        <File Id="System_Xml_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.dll" />
      </Component>
      <Component Id="PublishedFile_179">
        <File Id="System_Xml_Linq_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.Linq.dll" />
      </Component>
      <Component Id="PublishedFile_180">
        <File Id="System_Xml_ReaderWriter_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.ReaderWriter.dll" />
      </Component>
      <Component Id="PublishedFile_181">
        <File Id="System_Xml_Serialization_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.Serialization.dll" />
      </Component>
      <Component Id="PublishedFile_182">
        <File Id="System_Xml_XDocument_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.XDocument.dll" />
      </Component>
      <Component Id="PublishedFile_183">
        <File Id="System_Xml_XmlDocument_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.XmlDocument.dll" />
      </Component>
      <Component Id="PublishedFile_184">
        <File Id="System_Xml_XmlSerializer_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.XmlSerializer.dll" />
      </Component>
      <Component Id="PublishedFile_185">
        <File Id="System_Xml_XPath_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.XPath.dll" />
      </Component>
      <Component Id="PublishedFile_186">
        <File Id="System_Xml_XPath_XDocument_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/System.Xml.XPath.XDocument.dll" />
      </Component>
      <Component Id="PublishedFile_187">
        <File Id="WindowsBase_dll" Source="../MyCoolApp/bin/Release/net8.0/win-x64/publish/WindowsBase.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>