<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="My Cool App" 
           Manufacturer="My Cool Company" 
           Version="1.0.0.0" 
           UpgradeCode="{CD6D9730-441A-437B-B6B9-7A67B0BED9AE}">
    
    <!-- Package properties -->
    <SummaryInformation Keywords="Installer,MyCoolApp"
                       Description="My Cool App Installer - Self-Contained"
                       Manufacturer="My Cool Company"
                       Comments="Self-contained .NET 8.0 application installer" />
    
    <!-- Additional package properties for Windows -->
    <Property Id="ARPCONTACT" Value="support@mycoolcompany.example" />
    <Property Id="ARPURLINFOABOUT" Value="https://www.mycoolcompany.example" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPNOREPAIR" Value="1" />
    
    <!-- Media definition for CAB file -->
    <Media Id="1" Cabinet="MyCoolApp.cab" EmbedCab="yes" />
    
    <!-- Major upgrade handling -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of My Cool App is already installed." />
    
    <!-- Installation directory structure -->
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="MyCoolApp" />
    </StandardDirectory>
    
    <!-- Start Menu folder -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="My Cool App">
        <Component Id="ApplicationShortcut">
          <Shortcut Id="ApplicationStartMenuShortcut"
                   Name="My Cool App"
                   Target="[INSTALLFOLDER]MyCoolApp.exe"
                   WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKCU" 
                        Key="Software\YourCompany\MyCoolApp" 
                        Name="installed" 
                        Type="integer" 
                        Value="1" 
                        KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>
    
    <!-- Desktop shortcut (optional) -->
    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcut">
        <Shortcut Id="ApplicationDesktopShortcut"
                 Name="My Cool App"
                 Target="[INSTALLFOLDER]MyCoolApp.exe"
                 WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKCU" 
                      Key="Software\MyCoolCompany\MyCoolApp" 
                      Name="desktopShortcut" 
                      Type="integer" 
                      Value="1" 
                      KeyPath="yes" />
      </Component>
    </StandardDirectory>
    
    <!-- Feature definition - Reference the generated component group -->
    <Feature Id="MainApplication" Title="My Cool App" Level="1">
      <ComponentGroupRef Id="PublishedFilesGroup" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>
    
  </Package>
</Wix>